
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');


body {
  font-family: 'Ubuntu Sans Mono', monospace;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
}

#pagina {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.formulario {
  margin-right: 20px;
}

.formulario h1 {
  margin-bottom: 20px;
  color: #333333;
}

.formulario label {
  margin-bottom: 5px;
  color: #333333; 
}

.formulario input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.formulario button {
  padding: 10px 20px;
  background-color: #ff6f61; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.formulario button:last-child {
  margin-right: 0;
}

.cadastrados {
  width: 50%;
}

.lista-cadastrados ul {
  list-style-type: none;
  padding: 0;
}

.lista-cadastrados li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333333; 
  color: #ffffff; 
  border-radius: 5px;
}

.lista-cadastrados li button {
  padding: 5px 10px;
  background-color: #4caf50; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.lista-cadastrados li button:hover {
  background-color: #388e3c; 
}




.button-esconder {
  padding: 10px 20px;
  background-color: #333333; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button-esconder:hover {
  background-color: #555555; 
}


.mostrar-cadastro {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.mostrar-cadastro h2 {
  color: #333333; 
  margin-bottom: 15px;
}

.mostrar-cadastro p {
  margin-bottom: 10px;
  color: #555555; 
}

.mostrar-cadastro p strong {
  color: #333333; 
}

@media screen and (max-width: 768px) {
  #pagina {
    flex-direction: column; 
    align-items: center; 
  }

  .formulario, .cadastrados {
    width: 100%;
    margin-right: 0;
  }

  
}
